@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;900&display=swap');

:root {
  --main-color: #244385;
  --main-dark-color: #171f4d;
  --main-grey-color: #6c7a91;
  --main-light-grey-color: #c8d7f0;
  --grey-color: #f1f3f7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto Slab', serif;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

button:focus {
  outline: none;
}
