__generated__/
schema/schema.graphql
.env
node_modules/
.next
dist/
yarn.lock
.DS_Store
__pycache__/
*.py[cod]
docs/_build/
docs/locale/
*.egg-info
*.pot
tests/report/
tests/coverage_html/
tests/.coverage
build/
MANIFEST
.tox/
venv/


