# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


__generated__/
schema/schema.graphql
.env
.next
dist/
yarn.lock
.DS_Store
__pycache__/
*.py[cod]
docs/_build/
docs/locale/
*.egg-info
*.pot
tests/report/
tests/coverage_html/
tests/.coverage
MANIFEST
.tox/
venv/


